{% extends 'userbase.html' %}
{% load static %}
{% block user %}

<div class="row mt-4">
    <div class="col-sm-12">
        <h3>Change Password</h3>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-6">

        <!-- Show Django Messages -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <!-- Old Password -->
            <div class="form-group mb-3">
                <label>Old Password</label>
                <input type="password" name="old_password" class="form-control" required>
            </div>

            <!-- New Password -->
            <div class="form-group mb-3">
                <label>New Password</label>
                <input type="password" name="new_password1" class="form-control" required>
            </div>

            <!-- Confirm New Password -->
            <div class="form-group mb-3">
                <label>Confirm New Password</label>
                <input type="password" name="new_password2" class="form-control" required>
            </div>

            <button class="btn btn-primary" type="submit">Update Password</button>
        </form>
    </div>
</div>

{% endblock %}

